*{
    background-color: white;
text-align: center;
}
img{
    border-radius: 50%;
    border: 2%;
}
.txt-topo-site{
    color: white;
}
.sobre-mim{
    color: white;
}

.habilidades-e-competecia{
 color: white;
}
table,th,td{
    text-align: center;
    border: solid 2px;
    border-collapse: collapse;
}
